/*
//BREAKPOINTS
0 - 600px:       -phone
600px - 900px:   -tab-port
900px - 1200px:  -tab-land
1200 -1800px:    -normal styles
1800px +    :     -big desltops

$breakpoints
-phone
-tab-port
-tab-land
-big-desktops
*/
:root {
  --color-Soft-Blue: hsl(231, 69%, 60%);
  --color-Soft-Red: hsl(0, 94%, 66%);
  --color-Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
  --font-size-default: 1.5rem;
  --font-family-default: "Rubik", sans-serif;
  --section-padding: 9.6rem 0; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.875em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.875em) {
    html {
      font-size: 44%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

.container {
  max-width: 55rem;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 47.5em) {
    .container {
      max-width: 65rem;
      padding: 2.4rem; } }

.grid {
  display: grid;
  gap: 3.2rem; }
  @media (max-width: 47.5em) {
    .grid {
      gap: 0; } }

.grid-col--2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col--4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-col--5 {
  grid-template-columns: repeat(5, 1fr); }

.main-grid {
  display: grid;
  grid-template-columns: [full-start] minmax(min-content, 14rem) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(min-content, 14rem) [full-end]; }
  @media (max-width: 75em) {
    .main-grid {
      grid-template-columns: [full-start] minmax(min-content, 3rem) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(min-content, 3rem) [full-end]; } }
  @media (max-width: 37.5em) {
    .main-grid {
      display: block; } }

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-Grayish-Blue); }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 500;
  color: var(--Very-Dark-Blue);
  letter-spacing: -0.5px; }

.heading-primary {
  font-size: 4.5rem;
  line-height: 1.05;
  margin-bottom: 3.2rem; }
  @media (max-width: 75em) {
    .heading-primary {
      font-size: 3.8rem; } }

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.05;
  margin-bottom: 2.4rem; }
  @media (max-width: 75em) {
    .heading-secondary {
      font-size: 3.2rem; } }

.heading-tertiary {
  font-size: 1.8rem;
  line-height: 1.05;
  margin-bottom: 0.5rem; }
  @media (max-width: 75em) {
    .heading-tertiary {
      font-size: 1.6rem; } }

.u-mb-xs {
  margin-bottom: 1.2rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mb-lg {
  margin-bottom: 6rem; }

.u-mb-hg {
  margin-bottom: 8rem; }

.margin-right-sm {
  margin-right: 1.2rem; }

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 2.4rem;
  border-radius: 7px;
  font-size: 1.5rem;
  font-weight: 500;
  /* only necesary for the .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s; }

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-Soft-Blue);
  color: #fff; }

.btn--full:hover,
.btn--full:active {
  background: none;
  box-shadow: inset 0 0 0 1px var(--Very-Dark-Blue);
  color: var(--Very-Dark-Blue); }

.btn--outline:link,
.btn--outline:visited {
  box-shadow: inset 0 0 0 1px #9e91e9;
  color: var(--color-Soft-Blue); }

.btn--outline:hover,
.btn--outline:active {
  background: none;
  box-shadow: inset 0 0 0 1px var(--Very-Dark-Blue);
  color: var(--Very-Dark-Blue); }

/* necessary for btn*/
.btn--features {
  background-color: var(--color-Soft-Blue);
  color: #fff; }

.btn--extension {
  background-color: var(--color-Soft-Blue);
  color: #fff; }

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-Grayish-Blue);
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.2rem; }

.section__footer {
  grid-column: full-start / full-end;
  background-color: var(--Very-Dark-Blue);
  padding: 3.2rem 9.6rem; }
  @media (max-width: 47.5em) {
    .section__footer {
      padding: 2.4rem 4.8rem; } }

.footer-box {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 37.5em) {
    .footer-box {
      flex-direction: column; } }

.footer-link {
  display: flex;
  align-items: center;
  gap: 7.2rem; }
  @media (max-width: 37.5em) {
    .footer-link {
      flex-direction: column;
      gap: 3.2rem;
      margin-bottom: 3.2rem; } }

.footer-img {
  filter: invert(1) hue-rotate(177deg); }

.footer-list {
  list-style: none;
  display: flex;
  gap: 2.4rem; }

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem; }

.footer-item-link:link,
.footer-item-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: all 0.3s; }

.footer-item-link:hover,
.footer-item-link:active {
  color: var(--color-Soft-Red); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  padding: 0 7.2rem;
  height: 6.5rem;
  position: relative; }
  @media (max-width: 47.5em) {
    .header {
      padding: 0 2.4rem;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15); } }

.bookmark__logo {
  display: inline-block; }

@media (max-width: 47.5em) {
  .nav__link {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 85vh;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    z-index: 1;
    transition: 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden; } }

.nav__link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  list-style: none; }
  @media (max-width: 47.5em) {
    .nav__link-list {
      flex-direction: column; } }

@media (max-width: 47.5em) {
  .nav-open .nav__link {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0); } }

.nav__link-link:link,
.nav__link-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-Grayish-Blue);
  transition: all 0.3s; }

.nav__link-link:hover,
.nav__link-link:active {
  color: var(--color-Soft-Red); }

.nav__link-link.btn--nav:link,
.nav__link-link.btn--nav:visited {
  padding: 0.2rem 2.4rem;
  border-radius: 7px;
  color: #fff;
  background-color: var(--color-Soft-Red); }

.nav__link-link.btn--nav:hover,
.nav__link-link.btn--nav:active {
  box-shadow: inset 0 0 0 1px var(--color-Soft-Red);
  color: var(--color-Soft-Red);
  background-color: #fff; }

.btn__mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }
  @media (max-width: 47.5em) {
    .btn__mobile-nav {
      display: block;
      z-index: 10; } }

.mobile__nav-icon {
  height: 3.25rem;
  width: 3.25rem;
  color: #333; }

.mobile__nav-icon[name="close-outline"] {
  display: none; }

.nav-open .mobile__nav-icon[name="menu-outline"] {
  display: none; }

.nav-open .mobile__nav-icon[name="close-outline"] {
  display: block; }

.sticky .section__home .header {
  position: fixed;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  width: 100%;
  background-color: #fff;
  z-index: 999; }

.sticky .section__features {
  margin-top: 6.5rem; }

.section__download {
  grid-column: center-start / center-end;
  padding: var(--section-padding); }

.download__text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 7.2rem; }

.extension {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.2rem;
  padding: 0 3.2rem; }
  @media (max-width: 75em) {
    .extension {
      padding: 0; } }
  @media (max-width: 47.5em) {
    .extension {
      flex-direction: column; } }

.extension-item {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.15);
  padding: 2.4rem;
  border-radius: 9px; }
  @media (max-width: 47.5em) {
    .extension-item {
      padding: 9.6rem; } }
  .extension-item--2 {
    transform: translateY(4rem); }
  .extension-item--3 {
    transform: translateY(6rem); }

.extension-desc {
  padding-bottom: 4.8rem;
  text-align: center; }

.extension-img {
  height: 8.25rem;
  margin-bottom: 2.4rem; }

.section__faq {
  grid-column: center-start / center-end;
  padding: var(--section-padding); }

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70rem;
  margin: 0 auto; }
  .faq > * {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  @media (max-width: 37.5em) {
    .faq {
      padding: 0 1.2rem; } }
  .faq__text {
    margin-bottom: 4.8rem; }
  .faq-box {
    padding: 2.4rem; }
  .faq-list {
    list-style: none; }
  .faq-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--Very-Dark-Blue);
    font-weight: 500;
    transition: all 0.3s; }
  .faq-link:hover, .faq-link:active {
    color: var(--color-Soft-Red); }

.answer__content {
  display: none; }

.answer__text {
  margin-top: 1.2rem; }

.btn--faq {
  align-self: center; }

.answer__content--active {
  display: block; }

.section__features {
  grid-column: full-start / full-end; }

.features__text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 3.2rem; }

.features__menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  @media (max-width: 37.5em) {
    .features__menu-list {
      flex-direction: column;
      gap: 3.2rem; } }

.features__menu-item {
  border-bottom: 2px solid transparent; }

@media (max-width: 47.5em) {
  .menu__content {
    grid-template-columns: 1fr; } }

.menu__content-photo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden; }
  @media (max-width: 47.5em) {
    .menu__content-photo {
      display: block;
      text-align: center; } }
  .menu__content-photo::before {
    content: "";
    display: block;
    width: 80%;
    padding-bottom: 35%;
    background-color: var(--color-Soft-Blue);
    border-radius: 30rem;
    position: absolute;
    top: 35%;
    right: 35%;
    z-index: -1; }

.menu__content-desc {
  padding: 5.2rem;
  display: none; }
  @media (max-width: 47.5em) {
    .menu__content-desc {
      text-align: center; } }
  @media (max-width: 37.5em) {
    .menu__content-desc {
      text-align: center;
      padding: 0 2.4rem; } }

.menu-img {
  width: 80%; }

.bookmark__tab--active {
  border-bottom: 2px solid var(--color-Soft-Red); }

.bookmark__content-active {
  display: block; }

.section__home {
  grid-column: full-start / full-end; }

.hero {
  padding: 5.6rem 0 7.2rem 0; }
  @media (max-width: 47.5em) {
    .hero {
      grid-template-columns: 1fr; } }
  .hero-desc {
    padding: 0 0 0 7.2rem;
    margin-top: 3.2rem; }
    @media (max-width: 47.5em) {
      .hero-desc {
        grid-row: 2 / 3;
        text-align: center;
        padding: 0 4.2rem; } }
  .hero-text {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 3.2rem; }
  .hero-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; }
    @media (max-width: 47.5em) {
      .hero-img-box {
        grid-row: 1 / 2;
        width: 100%;
        overflow: visible;
        text-align: end; } }
  .hero-img-box::before {
    content: "";
    display: block;
    width: 80%;
    padding-bottom: 35%;
    background-color: var(--color-Soft-Blue);
    border-radius: 30rem;
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: -1; }
  .hero-img {
    width: 80%; }

.section__subscribe {
  grid-column: full-start / full-end;
  padding: var(--section-padding);
  background-color: var(--color-Soft-Blue); }

.cta--color {
  color: #fff;
  letter-spacing: 1.05; }

.cta {
  padding: 0 3.2rem; }

@media (max-width: 37.5em) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 3.2rem; } }

.form-input {
  padding: 0.8rem 2.4rem;
  border-radius: 7px;
  border: none;
  margin-right: 1.5rem; }

.form-input:focus {
  outline: none; }

.cta--btn {
  padding: 0.6rem 2.4rem;
  border-radius: 7px;
  color: #fff;
  background-color: var(--color-Soft-Red); }
