:root {
  // Primary
  --color-Soft-Blue: hsl(231, 69%, 60%);
  --color-Soft-Red: hsl(0, 94%, 66%);

  // Neutral
  --color-Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);

  // default fonts size
  --font-size-default: 1.5rem;

  // default font family
  --font-family-default: "Rubik", sans-serif;
  // section padding
  --section-padding: 9.6rem 0;
}
