.section__faq {
  grid-column: center-start / center-end;
  padding: var(--section-padding);
}
.faq {
  display: flex;
  flex-direction: column;

  justify-content: center;
  max-width: 70rem;
  margin: 0 auto;

  & > * {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__text {
    margin-bottom: 4.8rem;
  }
  &-box {
    padding: 2.4rem;
  }
  &-list {
    list-style: none;
  }
  &-item {
  }
  &-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--Very-Dark-Blue);
    font-weight: 500;
  }
}
.answer__content {
  display: none;
}
.answer__text {
  margin-top: 1.2rem;
}
.btn--faq {
  align-self: center;
}

////////////////////////////////////////
///FAQ TABBED COMPONENT STYLES
.answer__content--active {
  display: block;
}
