.section__subscribe {
  grid-column: full-start / full-end;
  padding: var(--section-padding);
  background-color: var(--color-Soft-Blue);
}
.cta--color {
  color: #fff;
  letter-spacing: 1.05;
}
.cta {
  padding: 0 3.2rem;
}
.form {
  @include respond(phone) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 3.2rem;
  }
}
.form-input {
  padding: 0.8rem 2.4rem;
  border-radius: 7px;
  border: none;
  margin-right: 1.5rem;
}
.form-input:focus {
  outline: none;
}
.cta--btn {
  padding: 0.6rem 2.4rem;
  border-radius: 7px;
  color: #fff;
  background-color: var(--color-Soft-Red);
}
