.section__features {
  grid-column: full-start / full-end;
}
.features__text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}
.features__menu {
  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  &-item {
    border-bottom: 2px solid transparent;
  }
}

.menu__content {
  @include respond(mid-tab-port) {
    grid-template-columns: 1fr;
  }
  &-photo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      width: 80%;
      padding-bottom: 35%;
      background-color: var(--color-Soft-Blue);
      border-radius: 30rem;
      position: absolute;
      top: 35%;
      right: 35%;
      z-index: -1;
    }
  }

  &-desc {
    padding: 5.2rem;
    // display: none; animations cant work with display none
    display: none;
    @include respond(mid-tab-port) {
      text-align: center;
    }
  }
}
.menu-img {
  width: 80%;
}
// FEATURES TABBED COMPONENT
.bookmark__tab--active {
  border-bottom: 2px solid var(--color-Soft-Red);
}
.bookmark__content-active {
  display: block;
  // opacity: 1;
  // // hide from jeyboard and mouse events
  // pointer-events: auto;
  // // hide it from screen readers
  // visibility: visible;
}
