.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 2.4rem;
  border-radius: 7px;
  font-size: 1.5rem;
  font-weight: 500;

  /* only necesary for the .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-Soft-Blue);
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  box-shadow: inset 0 0 0 1px #9e91e9;
  color: var(--color-Soft-Blue);
}

/* necessary for btn*/
.btn--features {
  background-color: var(--color-Soft-Blue);
  color: #fff;
}
.btn--extension {
  background-color: var(--color-Soft-Blue);
  color: #fff;
}

///////////////////////////////////
///NAVIGATION LINKS
.nav__link:link,
.nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-Grayish-Blue);
  font-size: 1.5rem;
  font-weight: 500;
}
