.section__footer {
  grid-column: full-start / full-end;
  background-color: var(--Very-Dark-Blue);
  padding: 3.2rem 9.6rem;
  @include respond(mid-tab-port) {
    padding: 2.4rem 4.8rem;
  }
}
.footer {
  &-box {
    display: flex;
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  &-link {
    display: flex;
    align-items: center;
    gap: 7.2rem;
    @include respond(phone) {
      flex-direction: column;
      gap: 3.2rem;
      margin-bottom: 3.2rem;
    }
  }
  &-img {
    filter: invert(1) hue-rotate(177deg);
  }
  &-list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    // @include respond(phone) {
    //   flex-direction: column;
    // }
  }
}
.footer-item-link:link,
.footer-item-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.footer-item-link:hover,
.footer-item-link:active {
  color: var(--color-Soft-Red);
}
// .social-img:hover,
// .social-img:active {
//   background-color: red;
// }
