.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  padding: 0 7.2rem;
  height: 6.5rem;
}
.bookmark__logo {
  display: inline-block;
}
.nav__link {
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    list-style: none;
  }
  &-item {
  }
}
.nav__link-link:link,
.nav__link-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  // color: var(--color-Grayish-Blue);
}
.nav__link-link.nav-login:link,
.nav__link-link.nav-login:visited {
  padding: 0.2rem 2.4rem;
  border-radius: 7px;
  color: #fff;
  background-color: var(--color-Soft-Red);
}
