///////////////////////////
///BASIC RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // default browser font size = 16px so 10/16 =  62.5%
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 44%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  max-width: 55rem;
  margin: 0 auto;
  text-align: center;
}
.grid {
  display: grid;
  gap: 3.2rem;
}
.grid-col--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col--4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-col--5 {
  grid-template-columns: repeat(5, 1fr);
}

///////////////////
/// BODY GRID

.main-grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(min-content, 14rem) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 15rem) [col-end]
    )
    [center-end] minmax(min-content, 14rem) [full-end];

  @include respond(tab-land) {
    grid-template-columns:
      [full-start] minmax(min-content, 3rem) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 15rem) [col-end]
      )
      [center-end] minmax(min-content, 3rem) [full-end];
  }
  @include respond(mid-tab-port) {
    grid-template-columns: 1fr;
  }
}
