.u-mb-xs {
  margin-bottom: 1.2rem;
}
.u-mb-sm {
  margin-bottom: 2rem;
}
.u-mb-md {
  margin-bottom: 4rem;
}
.u-mb-lg {
  margin-bottom: 6rem;
}
.u-mb-hg {
  margin-bottom: 8rem;
}

.margin-right-sm {
  margin-right: 1.2rem;
}
